name: Hola Mundo DevOps

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  hola:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Ejecutar script en Python
        run: python hola.py
